<div class="uk-overflow-auto">
  <table class="uk-table uk-table-small uk-table-divider">
    <thead>
      <tr>
          <th>State</th>
          <th>Reception Date</th>
          <th>Confirm Date</th>
          <th>Order Number</th>
          <th>ASIN(Product ID)</th>
          <th>Local Tracking Number(Link)</th>
          <th>International Tracking Number</th>
          <th>Customer Response</th>
          <th>Detail View</th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |rental|}}
      <tr>
          <td>{{rental.state}}</td>
          <td>{{rental.reception}}</td>
          <td>{{rental.confirm}}</td>
          <td>{{rental.order}}</td>
          <td>{{rental.code}}</td>
          <td>{{rental.local}}</td>
          <td>{{rental.international}}</td>
          <td>{{rental.customer}}</td>
          <td>
            <button class="uk-button uk-button-default" {{action 'detail' rental}}>Detail</button>
          </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
<ul class="uk-pagination uk-flex-right" uk-margin>
    <li><a href="#"><span uk-pagination-previous></span></a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#"><span uk-pagination-next></span></a></li>
</ul>
{{#if viewbibi}}
  <table class="uk-table uk-table-small uk-table-divider">
    <thead>
      <tr>
          <th>State</th>
          <th>Reception Date</th>
          <th>Confirm Date</th>
          <th>Order Number</th>
          <th>ASIN(Product ID)</th>
          <th>Local Tracking Number(Link)</th>
          <th>International Tracking Number</th>
          <th>Customer Response</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td>{{rental.state}}</td>
          <td>{{rental.reception}}</td>
          <td>{{rental.confirm}}</td>
          <td>{{rental.order}}</td>
          <td>{{rental.code}}</td>
          <td>{{rental.local}}</td>
          <td>{{rental.international}}</td>
          <td>{{rental.customer}}</td>
      </tr>
    </tbody>
  </table>
{{/if}}
<div class="uk-grid-divider uk-child-width-expand@s" uk-grid>
  <div class="uk-offcanvas-content">
    <a class="uk-button uk-button-text" uk-toggle="target: #offcanvas-nav-primary"><span uk-navbar-toggle-icon>Menu</span></a>
    <div id="offcanvas-nav-primary" uk-offcanvas="overlay: false">
      <div class="uk-offcanvas-bar uk-flex uk-flex-column">
        <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
          <li class="uk-active"><a href="#">Active</a></li>
          <li class="uk-parent">
            <a href="#">Parent</a>
            <ul class="uk-nav-sub">
              <li><a href="#">Sub item</a></li>
              <li><a href="#">Sub item</a></li>
            </ul>
          </li>
          <li class="uk-nav-header">Header</li>
          <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: table"></span> Item</a></li>
          <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: thumbnails"></span> Item</a></li>
          <li class="uk-nav-divider"></li>
          <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: trash"></span> Item</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>